*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: darkgray;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%)
}
.sorting{
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.game{
    text-decoration: none;
}